@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Team27_BookshopWeb.Areas.admin.Models.AuthorTranslatorViewModel

@if (Model.AuthorTranslators.Count() > 0)
{
    @foreach (var auTrans in Model.AuthorTranslators)
    {
        <tr>
            <td>
                <div class="table-data__info ID">
                    <h6>@auTrans.Id</h6>
                </div>
            </td>
            <td>
                <div class="table-data__info">
                    <input type="text" name="Name" placeholder="Họ tên" class="form-control Name" value="@auTrans.DisplayName" readonly required>
                    <input type="text" name="Slug" placeholder="Slug" class="form-control Slug" value="@auTrans.Slug" readonly required>
                </div>
            </td>
            <td>
                <label class="checkbox">
                    <input type="checkbox" class="ckb_au Tacgia" name="Author" @(auTrans.Author == 1 ? "checked" : "")>
                </label>
            </td>
            <td>
                <label class="checkbox">
                    <input type="checkbox" class="ckb_trans Dichgia" name="Translator" @(auTrans.Translator == 1 ? "checked" : "")>
                </label>
            </td>
            <td>
                <div class="table-data-feature">
                    @if (Model.Filter == "Deleted")
                    {
                        <button class="item btnRestore" data-toggle="tooltip" data-placement="top" title="Khôi phục">
                            <i class="fa fa-undo"></i>
                        </button>
                        <button class="item btnDeleteForever" data-toggle="tooltip" data-placement="top" title="Xóa vĩnh viễn">
                            <i style="color:red;" class="fa fa-trash"></i>
                        </button>
                    }
                    else
                    {
                        <button class="item btnHuy" data-toggle="tooltip" data-placement="top" title="Thoát chỉnh sửa" style="display: none;">
                            <i class="fa fa-times"></i>
                        </button>
                        <button class="item btnLuu" data-toggle="tooltip" data-placement="top" title="Lưu" style="display: none;">
                            <i class="fa fa-save"></i>
                        </button>
                        <button class="item btnSua" data-toggle="tooltip" data-placement="top" title="Sửa">
                            <i class="fa fa-pencil-square"></i>
                        </button>
                        <button class="item btnXoa" data-toggle="tooltip" data-placement="top" title="Xóa">
                            <i class="zmdi zmdi-delete"></i>
                        </button>
                    }
                </div>
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="5" style="text-align:center;">
            Không có tác giả hoặc dịch giả để hiển thị
        </td>
    </tr>
}
<tr>
    <td colspan="5">
        <div id="pagination-place" style="text-align: center;">
            <!-- PHÂN TRANG -->
            @if (Model.AllPages > 1 && Model.CurrentPage != Model.AllPages && Model.CurrentPage != 0)
            {
                int nextPage = Model.CurrentPage + 1;
                <button class="au-btn au-btn-load js-load-btn" data-page="@(nextPage <= Model.AllPages ? nextPage : Model.CurrentPage)">Xem thêm</button>
            }
        </div>
    </td>
    
</tr>
