@model Team27_BookshopWeb.Models.CheckoutViewModel
@{
    ViewData["Title"] = "Thanh toán";
    Layout = "~/Views/Shared/_Master.cshtml";
}
@section style
{
    <link rel="stylesheet" type="text/css" href="~/Team27StaticFiles/mycss/checkout.css">
}
<section class="breadcrumb-section">
    <h2 class="sr-only">Site Breadcrumb</h2>
    <div class="container">
        <div class="breadcrumb-contents">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/index">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Thanh toán</li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<main id="content" class="page-section inner-page-sec-padding-bottom space-db--20">
    <div class="container">
        <!-- ALERT -->

        @{ Html.RenderPartial("_AdminAlert", Model.MessagesView); }
        <div class="row">
            <div class="col-12">
                <!-- Checkout Form s-->
                <div class="checkout-form">
                    <div class="row row-40">
                        <div class="col-12">
                            <h1 class="quick-title">Thanh toán</h1>
                            <!-- ALERT -->
                        </div>
                        <div class="col-12">
                            <!-- Slide Down Trigger  -->
                            <div class="checkout-quick-box">
                                <p>
                                    <i class="far fa-sticky-note"></i>Mã khuyến mãi
                                </p>
                            </div>
                            <!-- Slide Down Blox ==> Cupon Box -->
                            <div class="checkout-slidedown-box" id="quick-cupon">
                                <form id="coupon-form">
                                    <div class="checkout_coupon">
                                        <input type="text" name="coupon" class="mb-0" placeholder="Coupon Code">
                                        <button class="btn btn-outlined btn-apply-coupon">Áp dụng</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <form asp-action="PlaceOrder" method='post' class="row row-40">
                            <div class="col-lg-7 mb--20">
                                <!-- Billing Address -->
                                <div id="billing-form" class="mb-40">
                                    <h4 class="checkout-title">Chi tiết thanh toán</h4>
                                    <input type="hidden" asp-for="Coupon" value="" />
                                    <div class="row">
                                        <div class="col-md-6 col-12 mb--20">
                                            <label>Họ và tên*</label>
                                            <input type="text" placeholder="Họ và tên" asp-for="Name" required>
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>

                                        <div class="col-md-6 col-12 mb--20">
                                            <label>Số điện thoại*</label>
                                            <input type="text" placeholder="Số điện thoại" asp-for="Phone" pattern="^0{1}\d{9}$" required>
                                            <span asp-validation-for="Phone" class="text-danger"></span>
                                        </div>

                                        <div class="col-12 mb--20">
                                            <label>Email</label>
                                            <input type="email" asp-for="Email" pattern="^[\w]{1,}[\w.+-]{0,}@@[\w-]{2,}([.][a-zA-Z]{2,}|[.][\w-]{2,}[.][a-zA-Z]{2,})$" placeholder="Email">
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>

                                        <div class="col-12 mb--20">
                                            <label>Địa chỉ*</label>
                                            <input type="text" asp-for="Address" placeholder="Địa chỉ" required>
                                            <span asp-validation-for="Address" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="order-note-block mt--30">
                                    <label for="order-note">Ghi chú</label>
                                    <textarea cols="30" rows="10" name="Note" class="order-note" placeholder="Ghi chú đơn hàng"></textarea>
                                </div>

                            </div>
                            <div class="col-lg-5">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="checkout-cart-total">
                                            <h2 class="checkout-title">Đơn hàng</h2>
                                            <!-- TABLE SẢN PHẨM -->
                                            <h4>Sản phẩm <span>Tổng tiền</span></h4>
                                            @if (Model.Cart != null)
                                            {
                                                @if (Model.CartItems.Count() > 0)
                                                {
                                                    <ul>
                                                        @foreach (var item in Model.CartItems)
                                                        {
                                                            <li>
                                                                <span class="left">@item.Book.DisplayName x <b>@item.Quantity</b></span> <span class="right">@item.DisplayTotal</span>
                                                            </li>
                                                        }
                                                    </ul>
                                                }
                                                <p>Tạm tính <span id="subtotal" data-subtotal="@Model.SubTotal">@Model.DisplaySubtotal</span></p>
                                                <p>Mã giảm giá <span id="coupon-code">0 VND</span></p>
                                                <h4>Tổng tiền <span id="total">@Model.DisplaySubtotal</span></h4>
                                            }
                                            <button class="place-order w-100" id="normal" name="payment_method" value="normal" type="submit">Thanh toán</button>
                                            <button class="place-order w-100" id="paypal" name="payment_method" value="paypal" type="submit">Thanh toán qua Paypal</button>
                                            <button class="place-order w-100" id="vnpay" name="payment_method" value="vnpay" type="submit">Thanh toán qua VNPay</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section script {
    <script src="~/Team27StaticFiles/myjs/order.js"></script>
}
